<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    {%if data%}

    <table border=1>
        <thead>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>action</th>
        </thead>
        <tbody>
            {% for i in data%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td><span><a href="update/{{i.id}}">update</a></span>&nbsp;&nbsp;<span><a href="delete/{{i.id}}">delete</a></span></td>

            </tr>
            {% endfor%}
            
           
        </tbody>

    </table>
    {% endif%}
    
    
   
    
    <a href="/page">add data</a>
</body>
</html>